html {
    --title-color:#322153;
    --span:#322153;
    --primary-color: #34cb79;
    --bg:#f0f0f5;
    --bg-form: white;
    --field:black;
}

* {
    box-sizing: border-box;/*Tamanho da box vai até a borda && padding não aumenta o tamanho da box*/
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

.field label {
    color: var(--field);
}

