.toggle input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle label {
    margin-top: 30px;
    margin-bottom: -100px;
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: black;
    float: right;
    border-radius: 100px;
    position: relative;
}

.toggle label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--bg-form);
    border-radius: 90px;
    transition: 0.3s;
}

.toggle input:checked + label {
    background-color: #ecebeb;
}

.toggle input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.toggle label:active:after {
    width: 45px;
}